.sidenav{
    background-color: rgb(249, 198, 198);
}

.userText {
    color: black;
    font-size: 25px;
    padding-left: 80px;
    padding-top: 20px;
    cursor: pointer;
}

.recipeText{
    color: black;
    font-size: 25px;
    padding-left: 80px;
    padding-top: 20px;
    cursor: pointer;
}

.logo {
    width: 80px;
    height: 65px;
    border-radius: 20%;
  }